/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-list {
    list-style-type: 1;
    padding: 0;
}

.product-image {
    display: inline-block;
    border: 2px solid #4CAF50;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    transition: transform 0.3s;
}

.product-image:hover {
    transform: scale(1.05);
}

.buy-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #45a049;
}

.product-info {
    margin-top: 20px;
    text-align: center;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ccc;
    width: 100%;
}